name: Build Sapper and Deploy to GitHub Pages

on: [push]

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: node -v
      - run: npm install
      - run: npx sapper export
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: __sapper__/
          publish_branch: gh-pages
          keep_files: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          
